@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
