@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
/* @import './Styles/variables.sass'; */
body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.link {
  writing-mode: vertical-rl;
}

.figureti::after {
  content: '';
  width: 3px;
  min-height: 100px;
  margin: 10px auto;
  background-color: #118ab2;
}

@media only screen and (min-width: 576px) {
  .link,
  .figureti {
    display: none;
  }
}
